@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* System Fonts with system-ui */
body {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
}
a {
	@apply underline;
}
:root:has(.no-doc-scroll) {
	overflow:hidden;
  }
.tab-button {
	animation: rainbow 2s forwards infinite;
}
  @keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
		border-color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
		border-color: rgb(255,127,0);

	}
	16%{
		color: rgb(255,255,0);
		border-color: rgb(255,255,0);

	}
	25%{
		color: rgb(127,255,0);
		border-color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
		border-color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
		border-color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
		border-color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
		border-color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
		border-color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
		border-color: rgb(127,0,255);

	}
	83%{
		color: rgb(255,0,255);
		border-color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
		border-color: rgb(255,0,127);
	}
}
